global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: []

rule_files: []

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "papers-qa"
    static_configs:
      - targets: ["papers-qa:8000"]
    metrics_path: /metrics
    scrape_interval: 10s
    scrape_timeout: 5s

  - job_name: "node-exporter"
    static_configs:
      - targets: ["node-exporter:9100"]
